{% extends 'ControlcarJournalBundle::mainControlcar.html.twig' %}

{% block content %}
    <br/>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="search-input" class="col-md-2 control-label">Найти: </label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="search-input" value="{{ app.request.get('query') }}" placeholder="точка отправки, точка назначения, тип груза">
            </div>
        </div>
    </form>

    <div class='list-content'>
        {{ include(
        'ControlcarJournalBundle:Journal:searchList.html.twig'
        ) }}
    </div>

{% endblock %}
